/*feuille de style pour la page filtre menu pays*/

/* gestion de l'arrière plan*/
html{
    background-image: url("./images/arrierePlanSearchMenu.jpg");
    background-size: auto;
    background-position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*taille du logo*/
.logo{
    width:120px;
}

/*mis en forme de la barre de navigation*/
#indexNav{
    padding:20px 8%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
}

/*mis en forme de la liste de la barre de navigation*/
#indexNav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    border:rgb(15, 99, 202) 2px solid;
    background-color:rgba(70, 128, 199, 0.831);
    border-radius:30px;
    padding:5px 10px;
}

/*idem que précédemment mais lors du survol*/
#indexNav ul li:hover{
    background-color: rgb(15, 99, 202);
    border:rgb(9, 50, 99) 2px solid;
    border-radius:30px;
    cursor:pointer;
    transform: translateY(-2px);
}

/*idem que précédemment mais lorsque l'on clique dessus*/
#indexNav ul li:active{
    background-color: rgb(15, 99, 202);
    border: black solid 2px;
    border-radius:30px;
    cursor:pointer;
    transform: translateY(2px);
}

/*mis en forme du texte des liens de la barre de navigation*/
#indexNav ul li a{
    text-decoration: none;
    color:snow;
    font-size: 16px ;
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
}

/* contient le titre +barre de recherche du mot utilisateur+bouton search*/

#zeroPart{
    display:flex;
    margin-bottom: 50px;
  
   
}

/*titre de la page*/
h1{
    color:rgb(6, 12, 101);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(71, 82, 142, 0.69);
    background-color: rgba(255, 250, 250, 0.766);
    display:inline;
   
    margin-left: 400px;
    
    
}

/*la où l'utilisateur rentre un ingrédient*/
.search{
    height:30px;
    width:250px;
    
    
}


/*bouton rechercher qui permet de voir les recettes de la donnée entrée par l'utilisateur*/
#validateNom{
    height:35px;
    width:100px;
    margin-left: 10px;

}

/*mise en page de la 1ère partie correspondant au nom du menu+son image+le pays d'origine de la recette*/   
#firstPart{
    display:flex;
    justify-content: space-evenly;
}

/* met les titres + le détail sur 1 ligne et centrer*/
#mpMenu,#mpOrigin{
    display:flex;
    align-items: center;
}

/* modification de la mise en page du titre Origin et menu*/
#origin,#menu{
    text-decoration: underline;
    font-family: "Finger Paint", sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgb(8, 19, 79);
    margin-right: 20px; 
    color:white;
}

/*mis en forme du texte du nom de la recette +nom de l'origine*/
#nameMeal,#area{
    color:rgb(28, 14, 100);
    font-family: "Finger Paint", sans-serif;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.587);
    border: dashed rgb(28, 14, 100);
    padding:4px;
}

#secondPart{
    display:flex;
    margin-top: 30px;;
}

/*mis en forme de la vidéo et de l'image*/
#videoSource,#imageMeal{
    border-radius: 30px;
    border:rgb(28, 14, 100) 2px solid;
}

#imageMeal{
    margin-left: 90px;
}

#videoSource{
    margin-left: 90px;
}

#secondPart2{
    background-color:rgba(255, 255, 255, 0.874);
    border:   rgb(28, 14, 100) thick double; 
    border-radius: 30px;
    padding:10px;
    width: 350px;
    margin-left: 90px;
}

/*mis en forme du titre Ingrédients*/
#ingredients{
    text-decoration: underline;
    font-family: "Finger Paint", sans-serif;
    font-size: 40px;
    
}

/*mis en forme multiple du titre menu + titre instruction*/
#instruction{
    text-decoration: underline;
    font-family: "Finger Paint", sans-serif;
    font-size: 40px;
}

/*mis en forme du détail des ingrédients+des instructions de la recette*/
#ingredientMeal,#instructionMeal{
    font-size:25px;
    font-weight: lighter;
    text-align: justify;
}

/*mis en forme du bloc "texte instructions"+"le détail des instructions"*/
#lastPart{
    border:  rgb(28, 14, 100) thick double;
    background-color:white;
    padding: 10px;
    margin-top: 20px;
}





#auto-suggest .search {
	width:322px;height:33px;margin:4px 0 4px 25px;padding:0 13px;border:1px solid #cdcdcd;
	color:#ccc;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #f1f1f1,-4px 4px 0 #f1f1f1,-4px -4px 0 #f1f1f1,4px -4px 0 #f1f1f1
}

#auto-suggest .search:focus {
	color:#555;border-color:#c8c8c8;	
	-moz-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	-webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec;
	box-shadow:inset 0 1px 4px rgba(0,0,0,0.15), 4px 4px 0 #ececec,-4px 4px 0 #ececec,-4px -4px 0 #ececec,4px -4px 0 #ececec
}

#auto-suggest .suggestions {
	width:342px;position:relative;margin:-6px auto 0;padding:0;list-style-type:none;border:1px solid #d5d4d4;background:#fff;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:13px;color:#555;	
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;	
	-moz-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);
	box-shadow:0 1px 3px rgba(0,0,0,0.1)
}

#auto-suggest .suggestions li {height:25px;padding:0 10px;line-height:25px;cursor:pointer;border-top:1px solid #f5f5f5}
#auto-suggest .suggestions li:hover {background:url(images/tick.png) no-repeat #fffac2;background-position:320px center;border-top-color:#fffac2}
#auto-suggest .suggestions li:first-child {border:none;}