/*feuille de style pour la page d'accueil*/

/*permet de limiter la taille de la page*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* comprend la video d'arrière plan+logo+barre de navigation*/
.contenair{
    width: 100%;
    height: 100vh;
    position:relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mis en forme de la vidéo en arrière plan*/
.video{
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*taille logo*/
.logo{
    width:120px;
}

/*mis en forme de la barre de navigation*/
nav{
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    padding:20px 8%;
    display: flex;
    justify-content: space-between;
}

/*mis en forme de la liste de la barre de navigation*/
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    border:snow 2px solid;
    border-radius:30px;
    padding:5px 10px
}

/*mis en forme des liens html interne de la barre de navigation*/
nav ul li a{
    text-decoration: none;
    color:snow;
    font-size: 16px ;
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
}

/*mis en forme du texte dans le bas de l'écran*/
#texteHomepage{
    background-color: rgba(255, 250, 250, 0.723);
    color: rgb(207, 149, 40);
    font-size: 30px;
    margin-top:700px;
    padding: 20px;
    border:thick double rgb(207, 149, 40)  
}